/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E    |  R   |  T   |                                                  |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D    |  F   |  G   |                                                  |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C    |  V   |  B   | L CTRL  |  L ALT  |          | L SHIFT |  R ALT  |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | L GUI | BSPC | BSPC | L SHIFT |   ESC   |          |   DEL   |  SPACE  | RET  | TAB   | R GUI |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E    &kp R    &kp T                                                &kp Y   &kp U   &kp I     &kp O   &kp P    &kp BSLH
	&kp TAB   &kp A &kp S &kp D    &kp F    &kp G                                                &kp H   &kp J   &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C    &kp V    &kp B    &kp LCTRL &kp LALT      &kp LSHFT &kp RALT  &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                      &kp LGUI &kp BSPC &kp BSPC &kp LSHFT &kp ESC       &kp DEL   &kp SPACE &kp RET &kp TAB &kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
